/* Default light mode styles */
body {
    background-color: #ffffff; /* White background in light mode */
    color: black; /* Black text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
  }
  
  /* Dark mode styles */
  body.dark {
    background-color: #121212; /* Dark background */
    color: white; /* White text */
  }
  
  /* Additional styles for various elements when in dark mode */
  body.dark .bg-white {
    background-color: #f7f4f4; /* Darker white background in dark mode */
  }
  
  body.dark .text-gray-800 {
    color: #4d4c4c; /* Light text color in dark mode */
  }
  
  body.dark .text-gray-600 {
    color: #363636;
  }
  
  body.dark .bg-gray-800 {
    background-color: #444; /* Darker background for certain elements */
  }
  
  body.dark .bg-gray-200 {
    background-color: #333; /* Darker background for elements */
  }